




<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-center py-3">
                    <form id="form_create" method="post">
                        {% csrf_token %}
                        <h7>Имя</h7>
                        <br>
                        {{ form.title }}<br>
                        <h7>Размер</h7>
                        <br>
                        {{ form.size }}<br>
                        <h7>Цена покупки</h7>
                        <br>
                        {{ form.price }}<br>
                        <h7>Цена продажи</h7>
                        <br>
                        {{ form.sellprice }}<br>
                        <h7>Доп расходы</h7>
                        <br>
                        {{ form.anyprice }}<br>
                        <h7>Дата покупки</h7>
                        <br>
                        {{ form.datebuy }}<br>
                        <h7>Дата продажи</h7>
                        <br>
                        {{ form.datesell }}<br>
                        {{ form.notes}}<br>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" form="form_create" class="btn btn-primary">Create</button>
                <span>{{ error }}</span>
            </div>
        </div>
    </div>
</div>


